@font-face {
  font-family: "iconfont"; /* Project id 3121021 */
  src: url('iconfont.woff2?t=1641544072499') format('woff2'),
       url('iconfont.woff?t=1641544072499') format('woff'),
       url('iconfont.ttf?t=1641544072499') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconweixiao:before {
  content: "\e601";
}

.icon-fengge:before {
  content: "\e623";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-zhuti:before {
  content: "\e682";
}

.icon-kafei:before {
  content: "\e664";
}

.icon-kafei1:before {
  content: "\e611";
}

.icon-yuzhong:before {
  content: "\e6d5";
}

.icon-tianjiawenjian:before {
  content: "\e615";
}

.icon-bofang1:before {
  content: "\e63a";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-tingzhi:before {
  content: "\e63d";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-search:before {
  content: "\e633";
}

.icon-youjiantou1:before {
  content: "\e628";
}

.icon-shangjiantou:before {
  content: "\e600";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-shoucangjia:before {
  content: "\e614";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-santiaoxian:before {
  content: "\e65f";
}

.icon-zuojiantou:before {
  content: "\e604";
}

